/* all about colours */

/* RGB: 

h1 {
  color: rgb(23, 45, 23);
}

*/


/* 
Hue, Saturation, and Lightness
The RGB color scheme is convenient because it’s very close to how computers represent colors internally. 
There’s another equally powerful system in CSS called the hue-saturation-lightness color 
scheme, abbreviated as HSL.

The syntax for HSL is similar to the decimal form of RGB, though it differs in important ways. 
The first number represents the degree of the hue, and can be between 0 and 360. The second and
 third numbers are percentages representing saturation and lightness respectively. Here is an example:

color: hsl(120, 60%, 70%);
Hue is the first number. It refers to an angle on a color wheel. Red is 0 degrees, Green is 120
 degrees, Blue is 240 degrees, and then back to Red at 360. You can see an example of a color wheel 
 [pic in the folder].

Saturation refers to the intensity or purity of the color. The saturation increases towards 100% as 
the color becomes richer. The saturation decreases towards 0% as the color becomes grayer.

Lightness refers to how light or dark the color is. Halfway, or 50%, is normal lightness. Imagine a 
sliding dimmer on a light switch that starts halfway. Sliding the dimmer up towards 100% makes the color
 lighter, closer to white. 
Sliding the dimmer down towards 0% makes the color darker, closer to black.

HSL is convenient for adjusting colors. In RGB, making the color a little darker may affect all 
three color components. In HSL, that’s as easy as changing the lightness value. HSL is also useful for
 making a set of colors that work well together
 by selecting various colors that have the same lightness and saturation but different hues.

 */


 /* 
 OPACITY

 To use opacity in the HSL color scheme, use hsla instead of hsl, and four values instead of three. For example:

color: hsla(34, 100%, 50%, 0.1);


The RGB color scheme has a similar syntax for opacity, rgba. Again, the first three values work 
the same as rgb and the last value is the alpha. Here’s an example:

color: rgba(234, 45, 98, 0.33);

A little unconventional, but still worth mentioning is how hex colors can also have 
an alpha value. By adding a two-digit hexadecimal value to the end of the six-digit
 representation (#52BC8280), or a one-digit hexadecimal value to the end of the
  three-digit representation (#F003), you can change the 
opacity of a hexadecimal color. Hex opacity ranges from 00 (transparent) to FF (opaque).
 

Alpha can only be used with HSL, RGB, and hex colors; we cannot add the alpha value to name colors like green.

There is, however, a named color keyword for zero opacity, transparent.
 It’s equivalent to rgba(0, 0, 0, 0), and it’s used like any other color keyword:

color: transparent;

 */



body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: darkseagreen;
  }
  
  .light {
    background-color: sienna;
  }
  
  .city {
    background-color: saddlebrown;
  }
  
  .vienna {
    background-color: brown;
  }
  
  .italian {
    background-color: black;
  }
  
  /* Typography */
  h1 {
    color: #41292C;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  